/*
GBergeret Theme
Created by Olivier Colonna
18/01/2021 */


/*=========================== LOGO =========================*/

.logo {
  height: 60px;
}

/*=========================== LAYOUT =========================*/

#invoice {
  color: black;
  padding: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Verdana';
  font-size: 10px;
  line-height: 12px;
}

#invoice-header {
  order: 1;
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#client-details {
  text-align: right;
  margin-bottom: 60px;
  order: 2;
}

#client-details .fn, .org {
  font-weight: bold;
}

/*=========================== INFO =========================*/
#invoice-info {
  order: 3;
  border-top: 3px solid black;
  margin-top: 15px;
  padding-top: 15px;
}

#comments {
  order: 3;
  color: #818181;
  font-size: 9px;
  line-height: 11px;
}

#invoice-info h2 {
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 8px;
  font-family: 'Verdana';
}

#invoice-info h3 {
  color: black;
  font-weight: normal;
  font-size: 10px;
  width: fit-content;
  margin: 0;
  float: left;
}

#payment-terms, #payment-due {;
  width: fit-content;
  float: left;
  margin-left: 4px;
}

#payment-terms:before, #payment-due:before {
  content: "- ";
}

#invoice-info #payment-total {
  display: none;
}

/*=========================== AMOUNT =========================*/

#invoice table {
  margin-top: 36.5px;
  border-collapse: collapse;
  clear: both;
  width: 100%;
  border: none;
}

#invoice-amount {
  order: 4;
}

.item_l {
  padding-left: 0;
}

td {
  border: none !important;
}

tfoot {
  border-top: 1px solid #000000;
}

tfoot tr:first-child td {
  padding-top: 15px;
}

tfoot tr td {
  padding: 0 0 15px;
  text-align: right;
}

tbody tr:first-child td {
  padding: 20px 0 9px 0;
}

tbody tr:last-child td {
  padding: 9px 0 20px 0;
}

#invoice-amount, #header_row {
  border-bottom: 1px solid #000000;
}

#header_row th {
  padding-bottom: 5px;
}

.details_th, .quantity_th {
  text-align: left;
}

.item_r, .salestax_th, .unitprice_th, .subtotal_th {
  text-align: right;
  padding-right: 0;
}

#total_tr {
  font-weight: bolder;
}

/*=========================== OTHER & DETAILS =========================*/

#payment-details {
  order: 5;
  color: #818181;
  font-size: smaller;
  float: left;
  padding-top: 96px;
}

#payment-details h2 {
  color: #818181;
  font-size: 12px;
}

#invoice-other {
  order: 6;
  text-align: right;
  color: #818181;
  font-size: smaller;
  margin-top: -81px;
  margin-left: auto;
}

#invoice-other h2 {
  color: #818181;
  font-size: 12px;
}
