#invoice.pagestyle{
    width: 170mm !important;               /* 210mm - 20mm*2 (padding) */
    max-width: 170mm !important;       /* 210mm - 20mm*2 (padding) */
    height: 257mm !important;              /* 297mm - 20mm*2 (padding) */
    padding: 20mm;
    font-family: Verdana !important;
}
#invoice-header .logo {
  height: 50px  !important;
  width: auto !important;
}
#invoice-amount{
    max-width:100%;
    width:100%
}
#invoice-amount td.description_td,#invoice #comments{
    overflow-wrap:break-word;
    word-break:break-word;
    word-wrap:break-word
}
h1#company-name{
    display:none
}
#invoice h1{
    font-size:24px !important;
    margin:0;
    text-transform:uppercase
}
#invoice h2,#invoice h3{
    text-transform:none
}
#invoice h2{
    font-size:14pt !important;
    margin:10px 0
}
#invoice-amount td,th{
    font-size:9pt !important;
}
#invoice-header #company-address{
    font-size:10pt !important;
    line-height:12pt !important;
    text-align:right
}
#invoice #client-details,#invoice-info p,#invoice #invoice-other,#invoice #payment-details{
    font-size:10pt !important;
    line-height:12pt !important;
}
#client-details #your-tax-number {
    padding-top: 8px;
}
#invoice-info h2,#invoice-info h3{
    font-weight:normal;
    margin:0;
}
#invoice-info h2{
    text-transform:uppercase;
    font-weight: bold;
    font-size:14p !importantt;
    line-height: 16pt !important;
    margin-bottom: 4px;
}
#invoice-info h3{
    font-size:10pt !important;
    line-height: 12pt !important;
}
#invoice #invoice-info p{
    margin:0;
    text-align:right;
}
#invoice-info #payment-total{
    display:none
}
#comments {
    position: absolute;
    top: 240mm;
    right: 20mm;
    width: 170mm;
}
#comments, #comments p{
    font-size:9pt !important;
    text-align: left;
    color: #818181;
    max-width: 210mm;
}
#invoice-header .logo{
    float:left
}
#invoice-header{
    overflow:hidden;
    padding-bottom:30px
}
#invoice-blank-header{
    margin-top:1.6cm
}
#company-address{
    float:right;
    margin:0;
    padding:0;
}
#invoice-info{
    float:right;
    margin-bottom:20px;
    text-align:right;
    width:70mm;
}
#invoice #client-details{
    position: absolute;
    top: 55mm;
    left: 25mm;
    float: left;
    width: 79.4mm;
}
#client-details div.fn, #client-details div.org{
    font-weight: bold;
}
#invoice-other {
    position: absolute;
    top: 243mm;
    right: 20mm;
    float:right;
    text-align:right;
    color: #818181;
    width: 55mm;
}
#invoice-other h2{
    font-size: 10pt !important;
    line-height: 12pt !important;
    color: #818181;
}
#invoice #payment-details{
    position: absolute;
    top: 243mm;
    left: 20mm;
    float:left;
    color: #818181;
}
#invoice #payment-details h2{
    color: #818181;
    font-size: 10pt !important;
    line-height: 12pt !important;
}
#invoice #payment-details, #invoice #invoice-other {
    margin-top: 30px;
}
#invoice-amount{
    clear:both;
    margin:1em 0
}
#invoice h1#company-name{
    display:block
}
#invoice-amount tr.item td{
    border-top:0
}
#invoice-amount .item_group_title td{
    padding-top:0.75em
}
#invoice table#invoice-amount{
    border-collapse:collapse;
    clear:both;
    width:100%;
}
#invoice-amount th {
    border-bottom:1px solid black;
    border-top:2px solid black;
    font-weight:bold;
    padding:2px 2px 0 5px;
}
#invoice-amount tbody tr:last-child td {
    border-bottom: 2px solid black;
}
#invoice-amount td{
    margin:0;
    padding:4px 5px;
    vertical-align:top
}
#invoice-amount .item_r{
    text-align:right
}
#invoice-amount .item_l{
    text-align:left;
    white-space:normal
}
#invoice-amount .total{
    font-weight:bold;
    line-height:1.3;
    text-align:right
}
#invoice-amount .details_th,#invoice-amount td.description_td{
    width:50%
}
#invoice-amount .details_notax_th{
    width:58%
}
#invoice-amount .quantity_th{
    width:13%
}
#invoice-amount .subtotal_th{
    text-align:right;
    width:15%
}
#invoice-amount .unitprice_th{
    text-align:right;
    width:14%
}
#invoice-amount .salestax_th{
    text-align:right;
    width:8%
}
#invoice #invoice-uk-vat-summary{
    background:#fff;
    border-collapse:collapse;
    clear:both;
    margin:25px 0 0 0;
    width:100%
}
#invoice tr#invoice-uk-vat-header th{
    padding:7px 0
}
#invoice-uk-vat-summary td,#invoice #invoice-uk-vat-summary th{
    font-size:9pt !important;
    padding:2px 0;
    text-align:left
}
#company-address .adr {
  padding-bottom: 8px !important;
}
#sales-tax-reg-number {
  padding-top: 8px !important;
}

