#invoice{
    width: 210mm;
    height: 297mm;
    padding:75px;
    font-family: Verdana;
}
.logo {
  /* padding: 0.75cm; */
  height: 60px  !important;
  width: auto !important;
}
#invoice-amount{
    max-width:100%;
    width:100%
}
#invoice-amount td.description_td,#invoice #comments{
    overflow-wrap:break-word;
    width:100%;
    word-break:break-word;
    word-wrap:break-word
}
h1#company-name{
    display:none
}
#invoice{
   font-family: Verdana;
}
#invoice h1{
    color:#555;
    font-size:24px;
    margin:0;
    text-transform:uppercase
}
#invoice h2,#invoice h3{
    color:#000;
    font-family:Verdana !important;
    text-transform:none
}
#invoice h2{
    font-size:14pt;
    margin:10px 0
}
#invoice-amount td,th{
    font-size:9pt;
}
#invoice-header #company-address{
    font-size:10pt;
    line-height:12pt;
    text-align:right
}
#invoice #client-details,#invoice-info p,#invoice #invoice-other,#invoice #payment-details{
    font-size:10pt;
    line-height:12pt
}
#invoice-info h2,#invoice-info h3{
    font-weight:normal;
    margin:0
}
#invoice-info h2{
    text-transform:uppercase;
    font-weight: bold;
    font-size:14pt;
    line-height: 16pt;
    margin-bottom: 4px;
}
#invoice-info h3{
    font-size:10pt;
    line-height: 12pt;
}
#invoice #invoice-info p{
    margin:0;
    text-align:right;
}
#invoice-info #payment-total{
    display:none
}
#comments {
    margin-top:15px;
}
#comments, #comments p{
    font-size:9pt;
    text-align: center;
    color: #818181;
}
#comments p{
    max-width: 210mm;
}
#invoice-header .logo{
    float:left
}
#invoice-header{
    overflow:hidden;
    padding-bottom:30px
}
#invoice-blank-header{
    margin-top:1.6cm
}
#company-address{
    float:right;
    margin:0;
    padding:0;
}
#invoice-info{
    float:right;
    margin-bottom:20px;
    text-align:right;
    width:250px
}
#client-details{
    float:left;
    margin:0 0 20px 2.5cm;
    width:250px
}
#client-details div.fn, #client-details div.org{
    font-weight: bold;
}
#client-details, #invoice-other {
    padding-bottom: 30px;
}
#invoice-other{
    float:right;
    text-align:right;
    color: #818181;
}
#invoice-other h2{
    font-size: 10pt;
    line-height: 12pt;
    color: #818181;
}
#invoice #payment-details{
    float:left;
    color: #818181;
    width:300px
}
#invoice #payment-details h2{
    color: #818181;
    font-size: 10pt;
    line-height: 12pt;
}
#invoice #payment-details, #invoice #invoice-other {
    padding-top: 30px;
}
#invoice-amount{
    clear:both;
    margin:1em 0
}
#invoice h1#company-name{
    display:block
}
#invoice-amount tr.item td{
    border-top:0
}
#invoice-amount .item_group_title td{
    padding-top:0.75em
}
#comments{
    clear:both;
    padding-top:0.5cm
}
#invoice table#invoice-amount{
    border-collapse:collapse;
    clear:both;
    width:100%
}
#invoice-amount th{
    background:#fff;
    border-bottom:1px solid black;
    border-top:2px solid black;
    font-weight:bold;
    padding:2px 2px 0 5px
}
#invoice-amount tfoot{
    border-top:2px solid black;
}
#invoice-amount td{
    margin:0;
    padding:4px 5px;
    vertical-align:top
}
#invoice-amount .item_r{
    text-align:right
}
#invoice-amount .item_l{
    text-align:left;
    white-space:normal
}
#invoice-amount .total{
    font-weight:bold;
    line-height:1.3;
    text-align:right
}
#invoice-amount .details_th,#invoice-amount td.description_td{
    width:50%
}
#invoice-amount .details_notax_th{
    width:58%
}
#invoice-amount .quantity_th{
    width:13%
}
#invoice-amount .subtotal_th{
    text-align:right;
    width:15%
}
#invoice-amount .unitprice_th{
    text-align:right;
    width:14%
}
#invoice-amount .salestax_th{
    text-align:right;
    width:8%
}
#invoice #invoice-uk-vat-summary{
    background:#fff;
    border:0;
    border-collapse:collapse;
    clear:both;
    margin:25px 0 0 0;
    width:100%
}
#invoice tr#invoice-uk-vat-header th{
    padding:7px 0
}
#invoice-uk-vat-summary td,#invoice #invoice-uk-vat-summary th{
    font-size:9pt;
    padding:2px 0;
    text-align:left
}
